<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction -%>">
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index py4">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <%- body %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>
    <% if (is_home()) { %>
      <div class="footer-custom">
        <a style="color: #666;" target="_blank" rel="external nofollow" href="https://cloud.tencent.com/product/tcb?from=12334">
        <b>Powered By 云开发</b>
        </a>
        <a target="_blank" rel="external nofollow" href="https://cloud.tencent.com/product/tcb?from=12334">
          <img src="/images/tcb.png" style="max-width:80%;margin:0;">
        </a>
      </div>
    <% } %>

    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>
</body>
</html>
